<div class="split">
  <div class="card">
    <img src="assets" alt="" />
    <app-login></app-login>
    <a href="#">Forgotten password</a>
    <app-register></app-register>
  </div>
  <div class="card">
    <img src="assets" alt="" />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, labore
      eveniet facere culpa nesciunt consectetur quisquam et iste voluptatum
      tempore debitis quae eius corporis quibusdam sit explicabo unde repellat
      doloremque.
    </p>
  </div>
</div>
