.split {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background: rgb(71, 175, 199);
  height: 100%;
}

.logReg {
  width: 42%;
  border: none;
  background: rgb(71, 175, 199);
  height: 100px;
}

.app-login {
  /* border: 2px solid black; */
  margin-top: 10%;
}

.forgot {
  text-align: center;
  margin-top: 10%;
  color: rgb(77, 101, 101);
}

.logoText {
  margin-top: 10%;
  background: rgb(71, 175, 199);
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  font-weight: 200;
  font-style: oblique;
  text-align: center;
  color: white;
}

.textImg {
  width: 58%;
  height: 100%;
  border: none;
  background: rgb(71, 175, 199);
}

.sideImage {
  position: relative;
  height: 80%;
}

.sideText {
  position: absolute;
  color: rgb(77, 101, 101);
  text-align: center;
  margin-top: 29%;
}

hr {
  height: 2px;
  width: 75%;
  color: rgb(77, 101, 101);
  background: rgb(77, 101, 101);
}

.register-btn {
  background: rgb(248, 179, 22);
  border-radius: 0;
  width: 50%;
  margin-left: 23%;
  border: none;
}

.register-btn:hover {
  background: white;
  color: rgb(77, 101, 101);
}
