<div class="split">
  <div class="card logReg">
    <span class="logoText">GOUBEB EDUCATION</span>
    <!-- <img src="assets" alt="" /> -->
    <div class="app-login" *ngIf="!hidden">
      <app-login></app-login>
      <a href="#"><p class="forgot">Forgot password ?</p></a>
      <hr />
    </div>

    <button
      class="btn btn-primary register-btn"
      (click)="onDisplay()"
      *ngIf="!hidden"
    >
      Register
    </button>
    <div *ngIf="hidden">
      <app-register></app-register>
    </div>
    <div *ngIf="!hidden2">
      <hr />
      <p class="forgot">Already Have an account</p>
      <button class="btn btn-primary register-btn" (click)="onDisplay2()">
        Log In
      </button>
    </div>
  </div>
  <div class="card textImg">
    <img src="/assets/334.jpg" alt="" width="100%" class="sideImage" />
    <p class="sideText">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, labore
      eveniet facere culpa nesciunt consectetur quisquam et iste voluptatum
      tempore debitis quae eius corporis quibusdam sit explicabo unde repellat
      doloremque.
    </p>
  </div>
</div>
